:root{
    --bg-header-color:#212237;
    --bg-color:#222639;
    --bg-card-color:#2B2D40;
    --btn-color:#FE4957;
    --text-color:#fff;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: var(--bg-color);
    color: var(--text-color);
}
.header{
    background: var(--bg-header-color);
}